* { 

}

body {
    margin: 0; 
    padding: 0;
    background: white;
    color: black;
    font-size: 20px;
    line-height: 140%;
    font-family: 'Crimson Text', Georgia, 'Times New Roman', serif;
    font-weight: 400;
}

a { color:#000; text-decoration: none}
a:hover {text-decoration: none; background-color: #f1ffca }

.bar {
    display: block;
    background-color: #acda6e;
}

.bar a:link, .bar a:visited, .bar a:active, .bar a:hover {
	border: 0;
	outline: 0;
	height: 15px;
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
    background-color: #acda6e;
}

p, ul, ol { 
    margin-bottom: 14px; 
}

blockquote { 
    margin: 0 18px 18px 18px;
    color:#900;
    padding-left:10px;
    border-left:1px solid #ccc;
}

blockquote pre code {
    font-size: 14px;
}

q { color: #900; }

pre { margin: 0 18px 18px 18px;}

ul {
    margin-left: 2em;
}

ol {
    margin-left: 2em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Crimson Text', Georgia, 'Times New Roman', serif;

}

h1 { 
    font-size: 50px; 
    line-height: 55px;
    margin-bottom: 12px;
}

h2 { 
    font-size: 32px; 
    margin-bottom: 10px;
    margin-top: 5px;
}

h3 { 
    font-size: 26px; 
    margin-bottom: 10px;
    margin-top: 5px;
}

h4 { 
    font-size: 20px; 
    margin-bottom: 10px;
    margin-top: 5px;
}

.container {
    text-align:center;
    margin: 0 auto;
    background: #fff;
    padding: 0;
    width: 640px;
}

/* HEADER */

.header {
    padding: 0;
    text-align:left;
}

.header h1 {
    font-size: 36px;
    color: #000;
    font-weight: bold;
}

.header span {
    margin-left: 10px;
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.header a { color: #000; }
.header a:hover { background-color: #f1ffca; }


/* FLICKR */

.flickr {
    text-align:center;
    padding: 11px 0;
    width:640px;
}

.flickr a {
    border: none;
}

.flickr img {
    width: 59px;
    height: 59px;
    margin: 1px 5px;
    border: 1px solid #666;
}

.flickr img:hover {
    width: 75px;
    height: 75px;
    margin: -7px -3px;
    border: 1px solid #000;
}

.flickr span a { color: #ccc; }

/* POSTS */

.post p a, .post li a { font-weight:normal; background-color: #f1ffca; border: none; }

.post {
    padding: 0 0 12px 0;
    text-align:left;
    width:640px;
}

.photo {
    padding-bottom:18px;
    text-align: center;
}

.photo a {
    border: none;
}

.photo img, .photo a img {
    border: 2px solid #000;
    margin-bottom: 18px;
}

p.byline {
    font-size:14px;
    color: #555;
    margin-top: -10px;
    margin-bottom: 6px;
}

.post img {
	border:1px solid #000;
}


.permalink {font-weight: bold; font-size: 18px; text-align: center;}

.alert {color: red;}

.commentsep {text-align: center; font-weight:bold;}

.links { text-align: center; }
.links p a { font-weight:normal; background-color: #f1ffca; border: none;}


#arc th,#arc td{list-style:none;margin:0;padding:0}
#arc{width:100%}
#arc th{text-align:right}
#arc th{padding:0.25em 1.25em 0 0;vertical-align:baseline}
#arc td{text-align:left}
#arc{border-collapse:collapse}
