Redirect permanent /notes/gpl.php http://jamesclarke.info/notes/Gpl
Redirect permanent /notes/java_fec.php http://jamesclarke.info/notes/JavaFec
Redirect permanent /notes/linux_fonts.php http://jamesclarke.info/notes/GtkFonts
Redirect permanent /notes/eps.php http://jamesclarke.info/notes/Eps
Redirect permanent /notes/vga_fan.php http://jamesclarke.info/notes/VgaFan
Redirect permanent /projects/archives/2003/03/msync_multicast_rsync.php http://jamesclarke.info/projects/MSync
Redirect permanent JamesClarke http://jamesclarke.info/
Redirect permanent /notes/Gpl http://jamesclarke.info/notes/gpl
Redirect permanent /notes/JavaFec http://jamesclarke.info/notes/javafec
Redirect permanent /notes/GtkFonts http://jamesclarke.info/notes/gtkfonts
Redirect permanent /notes/Eps http://jamesclarke.info/notes/eps
Redirect permanent /notes/VgaFan http://jamesclarke.info/notes/vgafan
Redirect permanent /projects/MSync http://jamesclarke.info/projects/msync
Redirect permanent /projects/msync/Design http://jamesclarke.info/projects/msync/design
Redirect permanent /projects/flickr/flickr.py http://jamesclarke.info/projects/flickr
Redirect permanent /notes/InstallLibxml2 http://jamesclarke.info/notes/libxml2
Redirect permanent /photography/blog http://jamesclarke.info/journal
Redirect permanent /journal http://jamesclarke.info/weblog
Redirect permanent /notes/JavaFecExample.java http://jamesclarke.info/static/JavaFecExample.java
Redirect permanent /static/flickr.py http://jamesclarke.info/projects/flickr
Redirect permanent /projects/msync/design http://jamesclarke.info/projects/msyncdesign
Redirect permanent /static/JavaFecExample.java /projects/javafec
Redirect permanent /projects/flickr /projects
Redirect permanent /weblog /notes

RewriteEngine on
RewriteBase /

{% hyde_listing_page_rewrite_rules %}

# listing pages whose names are the same as their enclosing folder's
RewriteCond %{REQUEST_FILENAME}/$1.html -f 
RewriteRule ^([^/]*)/$ %{REQUEST_FILENAME}/$1.html

# regular pages
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.*$ %{REQUEST_FILENAME}.html
