{% extends "_body.html" %}
{%hyde
%}
{% block title %} {{site.name}} {% endblock %}

{% block content_body %}

{% filter typogrify %}
<div class="contents post">
<div id="hcard-James-Clarke" class="vcard">

<p>I build computational systems capable of extracting, processing and understanding information. My approaches are grounded in Natural Language Processing and Machine Learning. Some of the problems I have worked on include: interpreting and understanding human language in the context of a world model; performing task-specific relation extraction and database population; and automatic summarization.</p>

I live in Boston, MA and can be reached many means including via <a class="email" rel="me" href="mailto:james@jamesclarke.net">email</a>, Google Talk <code>&lt;clarkeje@gmail.com&gt;</code>, <a href="skype:james.clarke?userinfo">Skype</a> and <a class="url" href="http://www.linkedin.com/in/jclarke">LinkedIn</a>.</p>

<p>Previously I was a post-doctoral researcher in <a href="http://l2r.cs.uiuc.edu">Dan Roth's</a> <a href="http://cogcomp.cs.illinois.edu">Cognitive Computation Group</a> at the <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a>.  I earned my Ph.D. in Informatics under the supervision of <a href="http://homepages.inf.ed.ac.uk/mlap/">Mirella Lapata</a> at the <a href="http://www.ed.ac.uk">University of Edinburgh</a>.</p>

<ul>
<li><a href="/research">Research and Publications</a></li>
<li><a href="/notes">Notes</a></li>
<li><a href="/projects">Projects</a></li>
<li><a class="url" href="http://delicious.com/james">Annotated Bookmarks</a></li>
<li><a class="url" href="http://www.flickr.com/people/jc/">Photography</a></li>
<li><a class="url" href="http://nowplaying.jamesclarke.net/jcinfo">Listening</a></li>
<li><a class="url" href="http://github.com/jc">Shared Code</a></li>
<li><a class="url" href="http://twitter.com/jacla">Pithy Remakrs</a></li>
</ul>
<span class="fn" style="display: none">James Clarke</span> <span style="display: none">(<a class="url" rel="me" href="http://jamesclarke.net">www</a>).</span>
</div>
<div id="flickr" class="flickr">
<script type="text/javascript">
//<![CDATA[
function jsonFlickrFeed(doc) {
  lst = doc.items;
  c = document.getElementById('flickr');
  for (var i=0, post; i < 8; i++) {
    post = lst[i];
    c.innerHTML += '<a href="' + post.link + '"><img src="' + post.media.m.replace("_m", "_s") + '" title="' + post.title + '"/></a>';
  }
}
//]]>
</script>
<script type="text/javascript" src="http://api.flickr.com/services/feeds/photos_public.gne?id=35237094740@N01&amp;format=json" defer="defer" async="async"></script>
</div>
<p style="text-align:right"><a href="http://www.openrightsgroup.org/support-org" title="Support ORG"><img src="http://www.openrightsgroup.org/badges/org_protect_150.gif" width="150" height="36" alt="Support the Open Rights Group" class="noline" /></a></p>
</div>
{% endfilter %}
{%endblock%}
