{% extends "_body.html" %}
{%hyde
%}
{% block title %} {{site.name}} {% endblock %}

{% block content_body %}
<div id="flickr" class="flickr">
<script type="text/javascript">
//<![CDATA[
function jsonFlickrFeed(doc) {
  lst = doc.items;
  c = document.getElementById('flickr');
  for (var i=0, post; i < 8; i++) {
    post = lst[i];
    c.innerHTML += '<a href="' + post.link + '"><img src="' + post.media.m.replace("_m", "_s") + '" title="' + post.title + '"/></a>';
  }
}
//]]>
</script>
<script type="text/javascript" src="http://api.flickr.com/services/feeds/photos_public.gne?id=35237094740@N01&amp;format=json" defer="defer" async="async"></script>
</div>

{% filter typogrify %}
<div class="contents post">
<div id="hcard-James-Clarke" class="vcard">
<p>I am a post-doctoral researcher at <span class="org"><a href="http://www.illinois.edu">The University of Illinois at Urbana-Champaign</a> working in the <a href="http://l2r.cs.uiuc.edu/~cogcomp/" class="organization-unit url">Cognitive Computation Group</a></span>.  You can reach me via many means including <a class="email" rel="me" href="mailto:clarkeje@gmail.com">email</a>, Google Talk <code>&lt;clarkeje@gmail.com&gt;</code>, <a href="skype:james.clarke?userinfo">Skype</a> and <a class="url" href="http://www.linkedin.com/in/jclarke">LinkedIn</a>; or  come visit me in person at 3328 <a href="http://www.flickr.com/photos/jc/2641376678/">Siebel Center</a>. </p>

<p>Prior to joining the Cognitive Computation Group I was a graduate student in the <a href="http://www.inf.ed.ac.uk">School of Informatics</a> at <a href="http://www.ed.ac.uk">The University of Edinburgh</a>.</p>
<ul>
<li><a href="/research">Research and Publications</a></li>
<li><a href="/notes">Notes</a></li>
<li><a href="/projects">Projects</a></li>
<li><a class="url" href="http://delicious.com/james">Annotated Bookmarks</a></li>
<li><a class="url" href="http://www.flickr.com/people/jc/">Photography</a></li>
<li><a class="url" href="http://www.last.fm/user/jcinfo/">Listening</a></li>
<li><a class="url" href="http://github.com/jc">Shared Code</a></li>
</ul>
<span class="fn" style="display: none">James Clarke</span> <span style="display: none">(<a class="url" rel="me" href="http://jamesclarke.net">www</a>).</span>
</div>

<p style="text-align:right"><a href="http://www.openrightsgroup.org/support-org" title="Support ORG"><img src="http://www.openrightsgroup.org/badges/org_protect_150.gif" width="150" height="36" alt="Support the Open Rights Group" class="noline" /></a></p>
</div>
{% endfilter %}
{%endblock%}
