{% extends "_post.html" %}
{% hyde
title: No Links Please!
created: 2008-01-14 21:47:19
disqus: True
disqus_ident: "258 http://jamesclarke.info/no-links-please/"
%}
{% block article %}
<a href="http://github.com/jc/no-links-please/">No Links Please!</a> is a productivity <a href="http://en.wikipedia.org/wiki/Life_hack">life hack</a> for those of us who need to concentrate and are easy tempted by the vast expanse of the web.  It is similar in spirit to <a href="http://www.oblomovka.com/code/webolodeon.php3">Webolodeon</a>.

<h3>Why?</h3>

One of the things which makes the web great are its hyperlinks. However, they also make the web vast and most importantly, far too easy to roam. No Links Please! breaks the web by removing hyperlinks from all pages apart from Google.  Without the knowledge or temptation of links you are free to devote all your time to real work and never roam the web again.

<h3>But I cannot work without the web!</h3>

The web is still accessible, you just have to search for it and find it in one link from Google.  It also has a few other exceptions tailored to a typical PhD student's life.

<h3>Be Productive!</h3>

No Links Please! is only available for <a href="http://www.mozilla.com/firefox/">Firefox</a>.  It is implemented as a <a href="https://addons.mozilla.org/en-US/firefox/addon/748">Greasemonkey</a> script.  To embrace a new life:

<ol><li>Download and install <a herf="http://www.mozilla.com/firefox/">Firefox</a>.</li>
<li>You'll need  to install <a href="https://addons.mozilla.org/en-US/firefox/addon/748">Greasemonkey</a> next.</li>
<li>Visit <a href="http://github.com/jc/no-links-please/blob/master/no-links-please.user.js">the No Links Please! script page</a> and confirm installation and enjoy a life of vastly improved productivity.</li>
</ol>
{% endblock %}
