{% extends "_root.html" %}
{% block all %}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="robots" content="noodp" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{site.name}}{% endblock %}</title>
  {% block feeds %}
  {% endblock %}
  {% block css %}
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/1af9ef91-6a36-47ba-8f6f-c3524f4fc80a">

  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic,600italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen" />
  <link rel="alternate" type="application/atom+xml" title="{{site.name}} Atom Feed" href="/feed" />
  {% block extra_css %} {% endblock %} {% endblock %} {% block js %}
  {% block extra_js %} {% endblock %} {% endblock %}
</head>
<body>

<div class="bar"><a href="/"></a></div>

<div class="container">
    {% include "_header.html" %}
      
	{% block content %} {% endblock %}
{% include "_footer.html" %}
</div>
{% if page.disqus %}
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/jamesclarke/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endif %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-266835-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
{% endblock %}
