<div class="header">
{% newlineless %}
  <h1>
{% ifnotequal page.module site.module %}
<a href="/{{site.url}}">{{site.name}}</a>&nbsp;&amp;&nbsp;
{% if page.front %}
{{ page.node.module.name|capfirst }}
{% else %}
<a href="{{ page.node.module.url }}">{{ page.node.module.name|capfirst }}</a>
{% endif %}
{% else %}
{{site.name}}
{% endifnotequal %}
</h1>
{% ifequal page.module site.module %}
<div style="text-align:center;"><img src="/media/images/james-clarke.jpg" alt="Portrait of James Clarke"/></div>
<div class="links"><p><a href="/research">research</a> &nbsp;&middot;&nbsp; <a href="http://pinboard.in/u:james">links</a> &nbsp;&middot;&nbsp; <a href="http://twitter.com/jacla">twitter</a> &nbsp;&middot;&nbsp; <a href="http://github.com/jc">code</a> &nbsp;&middot;&nbsp; <a href="http://flickr.com/people/jc">photography</a> &nbsp;&middot;&nbsp; <a href="http://nowplaying.jamesclarke.net/jcinfo">listening</a></p></div>
{% endifequal %}
{% endnewlineless %}
</div>
