<div class="header">
{% newlineless %}
  <h1>
{% ifnotequal page.module site.module %}
<a href="/{{site.url}}">{{site.name}}</a>&nbsp;&amp;&nbsp;
{% if page.front %}
{{ page.node.module.name|capfirst }}
{% else %}
<a href="{{ page.node.module.url }}">{{ page.node.module.name|capfirst }}</a>
{% endif %}
{% else %}
{{site.name}}
{% endifnotequal %}
</h1>
{% ifequal page.module site.module %}
<div style="text-align:center;"><img src="/media/images/james-clarke-mtb-ss.jpg" alt="James Clarke at Secret Squirrel MTB Race 2021"/></div>
<div class="links"><p><a href="https://www.strava.com/athletes/6929521">strava</a> &nbsp;&middot;&nbsp; <a href="http://github.com/jc">code</a> &nbsp;&middot;&nbsp; <a href="http://flickr.com/people/jc">photography</a> &nbsp;&middot;&nbsp;</p></div>
{% endifequal %}
{% endnewlineless %}
</div>
