{% extends "_post.html" %}
{%hyde
    title: Research
    front: True
%}

{% block article %}
{% excerpt %}
{%endexcerpt%}

<div class="links"><p><a href="#publications">publications</a> &nbsp;&middot;&nbsp; 
  <a href="#people">people</a> &nbsp;&middot;&nbsp;
  <a href="#interact">interact</a> &nbsp;&middot;&nbsp;
  <a href="#previously">previously</a></p></div>

My research interests lie in the field of natural language processing. Recently
I have been interested in [leveraging context expressed through a world
model][conll10] to help natural language interpretation and
understanding. Another part of my research involves using integer linear
programming and other methods to create more global models for natural language
processing problems.  This is closely related to my PhD research in which I
focused on developing [methods to process, extract and summarise
information][phd] from large natural text collections.  In particular I
formalised the compression task within an integer linear programming framework
which allowed new and existing models to be supplemented with linguistic
constraints.

On the development side I am interested in the architecture of complex natural
language processing pipelines. This interest grew at The University of Illinois
where I designed and developed [The Curator][curator], a common NLP platform,
which provides a programmatic interface to perform, retrieve and store
annotations of texts. Designed using Service Oriented Architecture principles,
it exposes its end-points as software as a service. This allows us to reduce the
amount of duplicate data processing and removes the burden of data processing,
storage and maintenance from the user (researcher). The system is open-source
and still widely used by the [Cognitive Computation Group][ccg] today.

The compression corpora from my sentence-compression experiments is available on
the [resources page][resources].

[conll10]: /research/conll2010
[phd]: /research/thesis
[curator]: http://cogcomp.cs.illinois.edu/trac/wiki/Curator
[ccg]: http://cogcomp.cs.illinois.edu/
[resources]: /research/resources

<a name="publications"></a>

## Publications 

### PhD Thesis
{% for list_page in node.walk_pages %}
{% ifequal list_page.papertype "thesis" %}
{% include "_paper_listing.html" %}
{% endifequal %}
{% endfor %}

### Journal Papers
{% for list_page in node.walk_pages %}
{% ifequal list_page.papertype "journal" %}
{% include "_paper_listing.html" %}
{% endifequal %}
{% endfor %}

### Conference Papers
{% for list_page in node.walk_pages %}
{% ifequal list_page.papertype "conference" %}
{% include "_paper_listing.html" %}
{% endifequal %}
{% endfor %}

<a name="people"></a>

### People
Other people you should really be paying attention to:

* [Sebastian Riedel][s]
* [Abhishek Arun][a]
* [Ming-Wei Chang][m]
* [Dan Goldwasser][d]
* [Jacob Eisenstein][j]

[s]: http://riedelcastro.github.com/
[a]: http://homepages.inf.ed.ac.uk/s0343799/
[m]: http://flake.cs.uiuc.edu/~mchang21/
[d]: https://netfiles.uiuc.edu/goldwas1/www/
[j]: http://www.cc.gatech.edu/~jeisenst/

<a name="interact"></a>

### Interact
We created a resource for people interested in [Integer Linear Programming for
Natural Language Processing][ilpwiki]. Although it is now mostly abandoned.

I co-organised the [Workshop on Integer Linear Programming for Natural Language
Processing][ilpws] hosted at [NAACL HLT 2009][naacl2009]. During this time we
created a resource for people interested in [Integer Linear Programming for
Natural Language Processing][ilpwiki]. More information about the workshop can
be found on the [ILP for NLP wiki][ilpwiki].

You can help our community by participating in our [Language Experiments][lexp].

And the threat of [NLP and global warming][global] can be found via [Jason
Eisner][je].

[ilpwiki]: http://ilpnlp.wikidot.com
[ilpws]: http://www-tsujii.is.s.u-tokyo.ac.jp/ilpnlp/
[naacl2009]: http://www.naaclhlt2009.org/
[lexp]: http://www.language-experiments.org
[global]: http://www.cs.jhu.edu/~jason/fun/NLP-and-global-warming.html
[je]: http://www.cs.jhu.edu/~jason/

<a name="previously"></a>

### Previously

A long time ago I designed a [Multicast rsync][msync] and a tongue-in-cheek
[productivity hack][no].

[msync]: http://jamesclarke.net/projects/msync
[no]: http://jamesclarke.net/projects/no-links-please
{% endblock %}
