{% extends "_post.html" %}
{% hyde
title: 11 January
created: 2009-01-11 21:57:25
%}
{% block article %}

<div class="photo"><a href="http://www.flickr.com/photos/jc/3226164239/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3497/3226164239_798836bfe5.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a></div>

Temperatures are dropping this week.  Today was only -5C, by midweek it is meant to be -15C or less.
{% endblock %}
