{% extends "_post.html" %}
{% hyde
title: 29 November
created: 2009-11-29 20:00:00
%}
{% block article %}

<blockquote><p>Environmentalism has replaced socialism as the leading secular religion. And the ethics of environmentalism are fundamentally sound. Scientists and economists can agree with Buddhist monks and Christian activists that ruthless destruction of natural habitats is evil and careful preservation of birds and butterflies is good. The worldwide community of environmentalists—most of whom are not scientists—holds the moral high ground, and is guiding human societies toward a hopeful future. Environmentalism, as a religion of hope and respect for nature, is here to stay. This is a religion that we can all share, whether or not we believe that global warming is harmful. &mdash; <cite><a href="http://www.nybooks.com/articles/21494">The Question of Global Warming - The New York Review of Books</a>.</cite></p></blockquote>

<p class="commentsep">&hellip;</p>

<object width="500" height="281"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=7500309&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=7500309&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="500" height="281"></embed></object><p>This promises to capture the raw energy of Mogwai’s live performances. I can’t wait!</p>

{% endblock %}
