{% extends "_post.html" %}
{% hyde
title: 24 March
created: 2009-03-24 14:10:57
%}
{% block article %}
<div class="photo">
<a href="http://www.flickr.com/photos/jc/3382401735/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3585/3382401735_f2c1c4facc.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br/>
<a href="http://www.flickr.com/photos/jc/3383219100/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3419/3383219100_d2d2c125cc.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br/>
<a href="http://www.flickr.com/photos/jc/3382402965/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3468/3382402965_1ce892b22a.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a>
</div>
{% endblock %}
