{% extends "_post.html" %}
{% hyde
title: Americana
created: 2008-07-03 23:20:59
%}
{% block article %}
<div class="photo">
<a href="http://www.flickr.com/photos/jc/2672643419/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3050/2672643419_0db3d3bd4b.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br />
<a href="http://www.flickr.com/photos/jc/2629619733/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3045/2629619733_16e4ac36bd.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br/>
<a href="http://www.flickr.com/photos/jc/2635750762/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3135/2635750762_17e79c98aa.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br/>
<a href="http://www.flickr.com/photos/jc/2648076281/" title="Untitled (by James Clarke)"><img src="http://farm3.static.flickr.com/2028/2648076281_d76ff2313d.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a>
</div>
{% endblock %}
