{% extends "_post.html" %}
{% hyde
title: Apollo 11 Saturn V launch
created: 2010-04-18 21:00:00
%}
{% block article %}

via [NPR's the picture show blog][ps].

<object width="601" height="338"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4366695&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=4366695&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="601" height="338"></embed></object><p><a href="http://vimeo.com/4366695">Apollo 11 Saturn V Launch (HD) Camera E-8</a> from <a href="http://vimeo.com/user1634425">Mark Gray</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

[ps]: http://www.npr.org/blogs/pictureshow/2010/04/15/126028824/rocket

{% endblock %}