{% extends "_post.html" %}
{% hyde
title: Arcade Fire at the SECC, Glasgow
created: 2007-10-29 17:36:21
%}
{% block article %}

<p>Set list (setlist?) for October 26 2007. (via: <a href="http://teawithtufty.blogspot.com/2007/10/arcade-fire-glasgow-secc-26th.html">tea with tufty</a>)</p>  <blockquote> 01 Black Mirror <br /> 02 Keep The Car Running<br /> 03 Neighborhood #2 (Laika)<br /> 04 No Cars Go<br /> 05 Haiti<br /> 06 My Body Is A Cage<br /> 07 Kiss Off<br /> 08 Ocean of Noise<br /> 09 Neighborhood #1 (Tunnels)<br /> 10 The Well and The Lighthouse<br /> 11 Headlights Look Like Diamonds<br /> 12 (Antichrist Television Blues)<br /> 13 Neighborhood #3 (Power Out)<br /> 14 Rebellion (Lies)<br /> 15 Intervention<br /> 16 Wake Up</blockquote>  <p>It was no where near as good as the Barrowlands <a href="http://www.cocoklo.net/archives/10/a-live-show-to-die-for/">gig</a> on March 12.  I don't think it was Arcade Fire's fault, more the fault of the poor venue and pedestrian crowd.  I guess we can call this the <a href="http://www.bbc.co.uk/radio2">Radio 2</a> effect.</p>

{% endblock %}
