{% extends "_post.html" %}
{% hyde
title: Camera Buying Guide (Late 2010)
created: 2010-12-18 11:57:42
%}
{% block article %}

Buying a camera is difficult.  There are many models, features and brands.  Here are some of my recommendations and information sources that will hopefully making the purchasing decision easier.

Mike Johnston over at The Online Photographer has some [very good advice on buying cameras][oha].  I usually recommend checking the cameras online and then heading to BestBuy or somewhere to get a real feel for them. Questions to bear in mind when reviewing a camera in person:

* How often will you take the camera with you?
* Are the controls easy to use?
* Do you want to use a viewfinder only?
* Is the shutter delay in capturing the picture acceptable?

The key point to remember is that you will only get good pictures if you have your camera with you at the right time.  In my opinion this should be one of the key deciding factors when selecting a camera.

[oha]: http://theonlinephotographer.typepad.com/the_online_photographer/recommended-cameras/


### The Cameras

These are the cameras I would recommend.  It covers a range of consumer camera *types* but stops short of digital SRLs (DSLRs).  All of these cameras will take great pictures and their differentiating factors are typically size, expandability and speed.

* **Canon S95 or Panasonic Lumix LX5 (S90 and LX3 are the older models)** This is the smallest and most compact of the set and probably the best in its (compact) class.  The image quality is pretty good but it may lack some manual controls.  Edward Taylor at [The Online Photographer][s90o] and [Thom Hogan][s90t] have very good reviews.

[s90o]: http://theonlinephotographer.typepad.com/the_online_photographer/2010/10/canon-s95-review.html
[s90t]: http://bythom.com/CanonS90review.htm

* **Canon G10 (maybe the G11 or G12 are good too)** This use to be the camera that people with DSLRs and pros bought as their snapshot camera. It has good manual controls and the image quality is great.

* **Panasonic GF1 or Olympus EP2 or Olympus EP1 or Olympus EPL1 (ordered recommendation)** These are very high quality cameras, almost on par with DSLRs.  They take interchangeable lenses which allows for growth but they are bigger than the previous two cameras. Again [Thom Hogan][gf1t] and Mike Johnston at [The Online Photographer][gf1o] have great reviews.

[gf1t]: http://bythom.com/panasonic_GF1_review.htm
[gf1o]: http://theonlinephotographer.typepad.com/the_online_photographer/2009/11/panasonic-gf1-vs-olympus-ep1-part-ii.html

### Other choices

You'll notice that all the above cameras come with a "3x" optical zoom.  This tends to give you the best optics in this price range. Also the above cameras are the ones that "serious" photographers tend to buy.

If you want something with much more reach look at the **Fujifilm Finepix S200EXR** (14x optical zoom). I don't know much about this but it is recommended at [Steve's Digicams][sd].

On the much cheaper end I would recommend **Canon Powershot SD940IS** (or SD1300IS).

Finally a book that always get recommended is Bryan Peterson's [Understanding Exposure][bp].  It is a great resource for teaching the basics of exposure and how to use your camera to get the creative images you want.

[sd]: http://www.steves-digicams.com/best-cameras.html
[bp]: http://www.amazon.com/gp/product/0817439390/

{% endblock %}
