{% extends "_post.html" %}
{% hyde
title: Chickpeas with chorizo
created: 2008-03-06 18:00:13
%}
{% block article %}
A simple stew from Nigel Slater via <a href="http://lifeandhealth.guardian.co.uk/experts/nigelslater/story/0,,1641168,00.html">Nigel Slater on Food</a>.  I cooked the chickpeas from dry and used chilli powder rather than dried crushed chillies.  This makes a very good stew-base too, add carrots etc to bulk it out even more.  Served with a good quality bread.


> <strong>Chickpeas with chorizo</strong>
>  
> * 2-3 tbsp of olive oil
> * 2 large onions
> * 4 cloves garlic
> * 3 chorizo sausages - about 400g
> * crushed dried chillies
> * a glass of dry sherry, vermouth or white wine
> * 5 or 6 decent-sized tomatoes
> * 2 x 400g tins of chickpeas
> * small bunch of parsley
>  
> Warm the olive oil in a deep, heavy-based pan. I use a cast-iron casserole. Peel the onions, roughly chop them and add them to the oil, stirring to coat them, then letting them cook at a moderate heat. Peel the garlic, slice it thinly and stir it into the onions. Leave to cook, partially covered by a lid, until the onions are soft and pale gold.
>  
> Cut each sausage into about four fat chunks. Mix these in with the softened onions, then add a teaspoon or so of crushed, dried chillies.Pour in a glass of dry sherry, vermouth or white wine and bring it to an enthusiastic bubble. Chop the tomatoes roughly, add them and bring them to the boil. Add the chickpeas, drained and rinsed, then pour in a can of water. Season with salt and black pepper, bring to the boil, then turn down to a simmer and leave to cook slowly, half-covered with a lid, for 45 minutes.
>  
> I would give it a stir from time to time, and check the liquor levels.What you want to end up with is a rich, brick-red sauce with a spiciness from the chillies and chorizo.
>  
> Just before serving, chop the parsley, roughly, then stir into the stew. Serve in shallow bowls.
{% endblock %}
