{% extends "_post.html" %}
{% hyde
title: Chocolate-boxes
created: 2007-04-29 18:29:34
%}
{% block article %}

<div class="photo"><a href="http://www.flickr.com/photos/jc/477033841/" title="Chocolate-boxes (by James Clarke)"><img src="http://farm1.static.flickr.com/211/477033841_f832f5a6d0.jpg" title="Chocolate-boxes (by James Clarke)" alt="Chocolate-boxes (by James Clarke)" width="500" height="330" /></a></div>

I've been rereading parts of Chris Dickie's <a href="http://www.amazon.co.uk/Photo-Projects-Publish-Photography-Internet/dp/1902538447/">Photo Projects</a> book.  The first three paragraphs of the second chapter, <em>A little self-discipline</em>, caused me to pause and consider how to develop photographically.

<blockquote><p>What's the point in involving yourself in a project - sounds a bit like going back to school? And what, photographically, makes a "project" anyway?  Some photographers may never have asked themselves the question, having instinctively worked in this way since picking up a camera; and the others, well they haven't thought about it much either, being content to pursue their hobby in search of the pretty picture.  And if you fall into the latter group you have to ask yourself "What am I doing making pictures? Am I really making the most of the medium? What am I achieving?"</p>
<p>Pursuing a project can be very like schoolwork. You have an objective, a target, and, in the process of achieving it, you learn.  Through this you and your practice develop, and you become a better photographer.  By exploring your subject you gain insight and understanding, and your images make this knowledge available to others.  The end-product is a coherent body of work where the whole is greater than the sum of its parts, rather than a set of chocolate-box tops.  You demonstrate that you have something to say about your subject beyond simply having an eye for a good snap.  A successfully executed project works like a well-argued essay; indeed that is what it is, except that pictures provide the propositions and conclusions rather than words.  And where conclusions are elusive at least there will be questions.</p>
<p>All in all a much more satisfactory and engaging outcome for both photographer and viewer.  Unless you are obsessed by chocolate-boxes, that is.</p></blockquote>

I've been wanting to start a small project or do a mini-series of photos for awhile but haven't had the inspiration.  It is about time I started brainstorming some ideas. 
{% endblock %}
