{% extends "_post.html" %}
{% hyde
title: Clover Food Lab Coffee
created: 2010-11-14 15:47:39
%}
{% block article %}

<object width="216" height="385"><param name="movie" value="http://www.youtube.com/v/Tc1wswVuEkA?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Tc1wswVuEkA?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="216" height="385"></embed></object>

[Clover Food Lab][1] demonstrating their coffee brewing technique:

> We have a pretty specific approach to making our coffee. A lot has gone into
developing our technique. It is a balance of practical concerns (e.g., speed,
consistency), and, but I know that each manager has a slightly different
technique. We’re not talking huge differences here, but I was pretty sure there
were slight variations.

Clover use filter-cone-style brewing and want to achieve a constant flow out of
the cone rather than dripping.

[1]: http://www.cloverfoodlab.com/?p=3305


{% endblock %}
