{% extends "_post.html" %}
{% hyde
title: Deals Gap
created: 2009-04-16 21:15:25
%}
{% block article %}

<div class="photo">
<a href="http://www.flickr.com/photos/jc/3444303801/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3362/3444303801_783d6b3034.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="281" /></a><br />
<a href="http://www.flickr.com/photos/jc/3448086990/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3650/3448086990_612728cf20.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="323" /></a>
</div>

<a href="http://en.wikipedia.org/wiki/Deals_Gap,_North_Carolina">Deals Gap</a> on US Route 129.

{% endblock %}
