{% extends "_post.html" %}
{% hyde
title: Dollywood
created: 2009-04-22 22:30:48
%}
{% block article %}
<div class="photo">
<a href="http://www.flickr.com/photos/jc/3458889769/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3523/3458889769_6490873f10.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="314" /></a><br />
<a href="http://www.flickr.com/photos/jc/3459706046/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3488/3459706046_4b002c3d4b.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="319" /></a>
</div>
{% endblock %}
