{% extends "_post.html" %}
{% hyde
title: Doing the right thing
created: 2010-09-29 19:32:32
%}
{% block article %}

<blockquote><p>"Mr Baffa [one of the first Nigerian civil servants to replace the British] remembers that “the purpose was to train us to become administrative officers in the field, to take over from the British officers. And everything we learnt was in the spirit of the British officers, to believe at all times that you are doing the right thing. If at any time you thought it was not right, don’t do it." &mdash; <cite><a href="http://www.bbc.co.uk/news/world-africa-11401304">Remembering the last days of empire in Nigeria: BBC News</a></cite>.</p></blockquote>

{% endblock %}