{% extends "_post.html" %}
{% hyde
title: Feeding people is easy
created: 2008-08-10 23:33:09
%}
{% block article %}

<div class="photo"><a href="http://www.flickr.com/photos/jc/2756582979/" title="Feeding People is Easy (by James Clarke)"><img src="http://farm4.static.flickr.com/3030/2756582979_5bfc6418f5.jpg" title="Feeding People is Easy (by James Clarke)" alt="Feeding People is Easy (by James Clarke)" width="500" height="333" /></a></div>

<em>Plenty of plants, not much meat, and maximum variety.</em>

I started reading this book blindly while browsing the latest non-fiction books in the library.  I have purposely avoided soliciting the opinions of others (reviews) of the book and have not read any information about the author, Colin Tudge.  The idea is to approach the book unbiased by Tudge's political views and how highly or poorly respected his ideas are; for all I know the guy could be largely regarded as a crank.

The book is concerned with how to solve the world's food problems.  Tudge believes it should not be difficult to feed everyone in the world to the highest standards both of nutrition and of gastronomy (and to do so forever).  I am still wading into his rationale and proposed solution,  but thus far it has been quite stimulating.  It will be interesting to see how his ideas aligns with those presented in Radio 4's current <a href="http://www.bbc.co.uk/radio4/ourfoodourfuture">Our Food Our Future</a> series.

One thing I found particularly informative and useful is the lightning course in nutrition.  The quote above is his succinct summary of modern nutritional theory.

(The salad pictured is a chicken salad with nectarines, peppers and basil).
{% endblock %}
