{% extends "_post.html" %}
{% hyde
title: forward digressions
created: 2007-12-13 18:18:48
%}
{% block article %}

*side a*

01. frightened rabbit - music now
02. the stills - lola stars and stripes
03. yeah yeah yeahs - maps
04. vampire weekend - walcott
05. the raveonettes - dead sound
06. tokyo police club - nature of the experiment
07. the octopus project - music is happiness

*side b*

08. galaxie 500 - snowstorm
09. okkervil river - for real
10. tacks, the boy disaster - frozen feet
11. wilco - on and on and on
12. british sea power - tugboat (galaxie 500 cover)
13. saint jude's infirmary - church of john coltrane

54:48

forward digressions is a mixtape (although technically I burnt it to CD) given to Chloe for Christmas 2007.  I may have slightly cheated by including Galaxie 500 and British Sea Power covering Galaxie 500, but there you go!
{% endblock %}
