{% extends "_post.html" %}
{% hyde
title: "Great Smoky Mountains #1"
created: 2009-04-05 17:56:20
%}
{% block article %}
<div class="photo">
<a href="http://www.flickr.com/photos/jc/3410623654/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3383/3410623654_45e6c1d7a4.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br/>
<a href="http://www.flickr.com/photos/jc/3409814621/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3583/3409814621_220a477fd6.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="400" /></a><br/>
<a href="http://www.flickr.com/photos/jc/3409798237/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3635/3409798237_7d253fa4dd.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="400" /></a><br/>
<a href="http://www.flickr.com/photos/jc/3409815915/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3364/3409815915_73db2bc4e9.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a>
</div>
{% endblock %}
