{% extends "_post.html" %}
{% hyde
title: "Happiness Involves Animals (apparently)..."
created: 2008-04-06 23:12:51
%}
{% block article %}
01. Jonquil - Lions
02. Eels - Fresh Feeling
03. Arcade Fire - Keep The Car Running
04. Lemon Jelly - Nice Weather For Ducks
05. The Bees - Chicken Payback
06. The Apples In Stereo - Energy
07. Panda Bear - Comfy In Nautica
08. LCD Soundsystem - Watch The Tapes
09. Holy Fuck - Lovely Allen

34:25

This happy-feel-good mixtape accidently ended up including many animal related songs and artists (oh well!).

{% endblock %}
