{% extends "_post.html" %}
{% hyde
title: "Holy Fuck Live at Stereo, Glasgow"
created: 2008-04-09 21:00:23
%}
{% block article %}

<div style="text-align: center;"><img class="noline" src="/media/images/hf4b.jpg" alt="Holy Fuck"/></div>

<a href="http://www.last.fm/event/493095">5 April 2008</a>

<a href="http://holyfuckmusic.com/">Holy Fuck</a> supported by <a href="http://www.myspace.com/freeblood">Free Blood</a> at <a href="http://www.stereocafebar.com/">Stereo</a>, Glasgow.  Stereo is a new cafe-bar-music-venue situated on Renfield Lane.  At street-level is the cafe-bar serving vegan-friendly food until 8pm, perfect for a pre-gig dinner!  Vegan-friendly food can be very hit or miss fortunately the two calzoni we opted for were pretty good and suitably priced.

The gig started late in the basement of Stereo.  First up were Free Blood, whose set consisted of them pretentiously prancing around the stage to sequenced tracks (and they weren't even in costumes!).  The performance was reminiscent of a sketch about modern dance or theatre, something you would probably see in <a href="http://en.wikipedia.org/wiki/Spaced">Spaced</a> featuring Brian.

Holy Fuck on the other hand were great and very surprising considering their style of music (lo-fi electronica, not something I usually listen to).  Their setup consists of a bassist, a drummer and two guys each with a table full of pedals, wires and Casio keyboards.  Now, two guys stood at a table doesn't sound like much fun but they do not in any way resemble two guys <em>playing</em> with their laptops.  They are frantic on stage: changing keyboards between songs, running 35mm film through a film sequencer, pushing various pedals etc.  Combine this with the energy and power from the drummer and it not only makes for amazing music but also a great sight to watch.  It is no wonder they were highly praised at Glastonbury.

Overall the night was definitely worth the trip through to Glasgow.  Holy Fuck were fantastic and the venue plus crowd were also very good.

{% endblock %}
