{% extends "_post.html" %}
{% hyde
title: Information sources worth visiting
created: 2010-12-19 13:04:01
%}
{% block article %}

I rarely read, listen, or watch any daily news sources because they are extremely low on content and value. (Nick Davies in [Flat Earth News][fen] provides an excellent analysis of why and how newspapers have become full of recycled PR instead of journalism).

I tend to concentrate on the long form intellectual essays from the literary magazines. The three I focus on are the [London Review of Books][lrb], [New York Review of Books][nyr] and [The New Yorker][newyorker]. Others I skim less often are [Harper's][h] and [Boston Review][br]. If I must follow current news (which is infrequent) I will skim the [Guardian][guardian], [New York Times][nyt] and [Financial Times][ft] for stories. All of these publications have numerous blogs which I haven't found useful (too many posts).

[Instapaper][i] is great for managing your  reading list and I usually store articles of note on [delicious][d] (and mirrored on [pinboard][p]).

[fen]: http://pinboard.in/u:james/b:0a8743a73c44
[lrb]: http://www.lrb.co.uk/
[nyr]: http://www.nybooks.com/
[newyorker]: http://www.newyorker.com/
[br]: http://bostonreview.net/
[h]: http://www.harpers.org/
[guardian]: http://www.guardian.co.uk
[nyt]: http://www.nytimes.com
[ft]: http://www.ft.com
[d]: http://www.delicious.com/james
[p]: http://pinboard.in/u:james
[i]: http://www.instapaper.com

### Podcasts

Podcasts quickly get out of hand and there doesn't seem to be  anything good for managing them (iTunes is awful but at least it syncs to my iPhone).  But still, I subscribe to the following:

* **[WNYC's Radiolab][radiolab]** "Science meets culture and information sounds like music. Each episode of Radiolab. is an investigation -- a patchwork of people, sounds, stories and experiences centered around One Big Idea."
* **[TED Talks][ted]** Ideas, blah, blah. They push out far too many talks so I usually just scan the list for those that interest me.

[radiolab]: http://www.radiolab.org/series/podcasts/
[ted]: http://www.ted.com/

Radio 4 has a ton of [podcasts][r4pod] worth a listen.

* **[Radio 4 Choice][r4choice]** "The Radio 4 Choice podcast brings you our pick of the best of the week's documentaries on BBC Radio 4".
* **[File on 4][fo4]** "Investigative series".
* **[Analysis][]** Running for over 40 years, documentary programming that makes sense of the ideas that change the world". 
* **[From our own correspondent][fooc]** "Insight, wit and analysis as the BBC's foreign correspondents take a closer look at the stories behind the headlines". 
* **[In Our Time][iot]** "The history of ideas discussed by Melvyn Bragg and guests including Philosophy, science, literature, religion and the influence these ideas have on us today."

[r4pod]: http://www.bbc.co.uk/podcasts/radio4
[r4choice]: http://www.bbc.co.uk/podcasts/series/r4choice
[analysis]: http://www.bbc.co.uk/podcasts/series/analysis
[fo4]: http://www.bbc.co.uk/podcasts/series/fileon4
[fooc]: http://www.bbc.co.uk/podcasts/series/fooc
[iot]: http://www.bbc.co.uk/podcasts/series/iot


{% endblock %}
