{% extends "_post.html" %}
{% hyde
title: Clippings from Autobiography by John Stuart Mill 
created: 2009-12-10 21:15:00
%}
{% block article %}

Here are some passages I've found interesting thus far into [John Stuart Mill's Autobiography][jsm] (Chapters I-III).

[jsm]: http://www.gutenberg.org/etext/10378

Disclaimer for the autobiography.

> The reader whom these things do not interest, has only himself to blame if he reads farther, and I do not desire any other indulgence from him than that of bearing in mind that for him these pages were not written.

His education is very interesting firstly focusing on the "aids and appliances of thought" then moving onto having his own thoughts:

> From about the age of twelve, I entered into another and more advanced stage in my course of instruction; in which the main object was no longer the aids and appliances of thought, but the thoughts themselves.

Education.  His father was his teacher.  His father wouldn't give explanations until after Mill had full thought everything through and felt the "full force of the difficulties".  Mill humbly outlines how debates with his father progressed through the years:

> I thought for myself almost from the first, and occasionally thought differently from him, though for a long time only on minor points, and making his opinion the ultimate standard. At a later period I even occasionally convinced him, and altered his opinion on some points of detail: which I state to his honour, not my own. It at once exemplifies his perfect candour, and the real worth of his method of teaching.

Religion:

> On religion in particular the time appears to me to have come when it is the duty of all who, being qualified in point of knowledge, have on mature consideration satisfied themselves that the current opinions are not only false but hurtful, to make their dissent known; at least, if they are among those whose station or reputation gives their opinion a chance of being attended to. Such an avowal would put an end, at once and for ever, to the vulgar prejudice, that what is called, very improperly, unbelief, is connected with any bad qualities either of mind or heart.

Education.  The new style of teaching attempts "to render as much as possible of what the young are required to learn, easy and interesting to them."

> I rejoice in the decline of the old brutal and tyrannical system of teaching, which, however, did succeed in enforcing habits of application; but the new, as it seems to me, is training up a race of men who will be incapable of doing anything which is disagreeable to them.

French vs English national character:

> [T]he contrast between the frank sociability and amiability of French personal intercourse, and the English mode of existence, in which everybody acts as if everybody else (with few, or no exceptions) was either an enemy or a bore.

Marginal contents:

> [H]e made me perform an exercise on the manuscript, which Mr. Bentham practised on all his own writings, making what he called "marginal contents"; a short abstract of every paragraph, to enable the writer more easily to judge of, and improve, the order of the ideas, and the general character of the exposition.


{% endblock %}
