{% extends "_post.html" %}
{% hyde
title: Madrid plane crash quote
created: 2008-08-21 10:50:23
%}
{% block article %}
<div style="text-align: center;"><img src="/media/images/capt-john-guntrip.jpg" alt="Krishnan Guru-Murthy interviews Captain John Guntrip" title="Captain John Guntrip on Channel 4 News" /></div>

Krishnan Guru-Murthy interviews Captain John Guntrip (what a name!), former captain and air accident investigator, about the <a href="http://www.guardian.co.uk/world/madrid">Madrid plane crash</a>.

<blockquote>KGM: "What about the aircraft itself? McDonnell Douglas 82."<br/>
CJG: "Well it's a total write off as far as I can understand."<br/>
KGM: "Well, I mean the type of aircraft, what is its safety record?"</blockquote>
{% endblock %}
