{% extends "_post.html" %}
{% hyde
title: And ended up the kind of kid who goes down chutes too narrow
created: 2008-02-13 22:52:30
%}
{% block article %}
<div class="photo"><a href="http://www.flickr.com/photos/jc/2262879182/" title="Untitled (by James Clarke)"><img src="http://farm3.static.flickr.com/2327/2262879182_848b66cf97.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a></div>

A weekend in and around Fort William.  Staying in the lovely <a href="http://www.glenaladale-house.co.uk/">Glenaladale B&B</a> a short walk from Fort William town centre.  The holiday turned into a <a href="http://www.makesureitsaminiadventure.co.uk/">MINI Adventure</a> with direction provided by <a href="http://www.tomtom.com/">TomTom</a> who was unimpressed by most of my driving.  Music was courtesy of a white 4G and a black 6G <a href="http://www.apple.com/uk/itunes/">iPod</a> with most the selection by Chloe.  In-car snacks provided by Pringles and Haribo.  <a href="http://en.wikipedia.org/wiki/Freaks_and_Geeks">Freaks and Geeks</a> and peanut M&Ms made for a relaxing nighttime.

<div class="photo">
<a href="http://www.flickr.com/photos/jc/2262092299/" title="Untitled (by James Clarke)"><img src="http://farm3.static.flickr.com/2159/2262092299_59ded43360.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="500" /></a>
</div>

Some fond memories from the weekend include:

<ul>
<li>Performing silly shenanigans involving mainly cows in an empty gift shop by some castle on the way Skye.</li>
<li>Driving past various <a href="http://www.highways.gov.uk/business/1214.aspx">brown (tourist) signs</a> indicating points of interest and turning around only to find out Neptune's Steps are not as remotely interesting as the name might suggest.  They are merely a set of eight lock gates.</li>
<li>Stopping off randomly and walking through the boggy vegetation to get closer to the edge of the loch.</li>
<li>Amusing ourselves while we killed two hours in <a href="http://www.plocktonhotel.co.uk/">Plockton Hotel</a> before they started taking orders for dinner.</li>
<li>Listening to <a href="http://www.last.fm/music/Sigur+R%C3%B3s">Sigur Ros</a> as magnificent landscapes unfolded before us.</li> 
<li>Chloe really enjoying singing on the way back to Glasgow, especially Young Pilgrims by <a href="http://www.last.fm/music/The+Shins">The Shins</a>.</li>
</ul>

{% endblock %}
