{% extends "_post.html" %}
{% hyde
title: Morning
created: 2009-01-14 22:12:02
%}
{% block article %}

<div class="photo">
<a href="http://www.flickr.com/photos/jc/3227018516/" title="Untitled (by James Clarke)"><img src="http://farm4.static.flickr.com/3385/3227018516_52a64aa140.jpg" title="Untitled (by James Clarke)" alt="Untitled (by James Clarke)" width="500" height="333" /></a><br />
<a href="http://www.flickr.com/photos/jc/3087645374/" title="Morning (by James Clarke)"><img src="http://farm4.static.flickr.com/3173/3087645374_a4966f7d10.jpg" title="Morning (by James Clarke)" alt="Morning (by James Clarke)" width="500" height="333" /></a>
</div>

{% endblock %}
