{% extends "_post.html" %}
{% hyde
title: New Comedy
created: 2006-11-22 11:14:04
%}
{% block article %}
There are two things you should hunt down on <a href="http://www.youtube.com">YouTube</a> or other media outlets if you are in the need for some comedy.

Firstly, Charlie Brooker's <a href="http://www.bbc.co.uk/bbcfour/features/screen-wipe.shtml">Screenwipe</a>.  The TV adaptation of his <a href="http://www.guardian.co.uk/theguide/brooker/">Screen Burn</a> column in The Guardian.  We must have watched the USA Edition of Screenwipe about five times already and have shown it to anyone that will pay attention.  Hopefully we'll see new series in the near future.

<a href="http://en.wikipedia.org/wiki/Simon_Amstell">Simon Amstell</a> presenting <a href="http://www.bbc.co.uk/bbctwo/programmes/?id=buzzcocks">Never Mind The Buzzcocks</a>.  His boyish looks remind  me a little of <a href="http://www.myspace.com/mattkirshen">Matt Krishen</a> who we've seen a few times during the <a href="http://en.wikipedia.org/wiki/Edinburgh_Fringe">festival</a>.  Amstell has breathed new life into <em>Buzzcocks</em> and taking it beyond <em>The Phil and Bill</em> show.  However, future guests of <em>Buzzcocks</em> be warned, Amstell is a harsh and relentless young man.

Also, although not video related.  Last week <a href="http://en.wikipedia.org/wiki/Jon_Holmes">Jon Holmes</a> did a great job presenting <a href="http://en.wikipedia.org/wiki/Nemone">Nemone's</a> usual afternoon show on <a href="http://www.bbc.co.uk/6music/">6music</a>.  I hadn't heard of Holmes before but he managed to be consistently funny all week.  I'll have to check out <a href="http://www.bbc.co.uk/6music/shows/jon_holmes/">his Saturday afternoon show</a> on listen again sometime.
{% endblock %}
