{% extends "_post.html" %}
{% hyde
title: Envisaging peak *
created: 2010-09-05 20:16:19
%}
{% block article %}
<blockquote><p>"As with oil, it’s possible to envisage 'peak food' (the point of maximum production, followed by decline), 'peak phosphorus', i.e. the high point in the use of phosphate fertiliser (one estimate puts it at 2035), and, as the FAO suggests in its diplomatic way, 'peak land': the point at which the total area of the world's most productive land begins to diminish (soil exhaustion, climate change) and marginal land comes up for reassessment." &mdash;<cite>Jeremy Harding, <a href="http://www.lrb.co.uk/v32/n09/jeremy-harding/what-were-about-to-receive">What we are about to receive</a> in LRB</cite>.</p></blockquote>

{% endblock %}