{% extends "_post.html" %}
{% hyde
title: Pork Loin Chops with Parnsip, Carrot and Butternut Squash
created: 2006-12-13 13:44:57
%}
{% block article %}
We've been getting into cooking with seasonal vegetables this winter.  Annie Bell's <em>In My Kitchen</em> has some great recipes and this is one we adapted slightly.  It is such a simple dish to prepare and cook, and the caramelized vegetables taste utterly brilliant.  There is no need for any potato or other staple to be served with the dish, although I imagine a green salad would go down well.

**Pork Loin Chops with Parsnip, Carrot and Butternut Squash**

*Notes: Her recipe calls for beetroot but we replace that with butternut squash
to suit our tastes.  Also we prefer a more basic apple sauce than a
chilli-fied version.*

*Serves 4*

*Apple Sauce*

* 600g Bramley apples, peeled, cored and sliced
* 50g golden caster sugar

*Roast*

* 4 pork loin chops (rib-in)
* sea salt and black pepper
* 600g carrots, trimmed and peeled
* 600g parsnips, trimmed and peeled
* 1 butternut squash, peeled and cut into wedges
* a large handful of sage leaves
* 4 tbsp extra virgin olive oil

Place all the ingredients for the sauce in a medium-sized saucepan with 100ml water.  Bring to the boil and then cover and cook over a low heat for 15-17 minutes, mashing the apple to a coarse puree once or twice during cooking.  Transfer the sauce to a bowl and leave to cool.

Meanwhile, heat the oven to 190C fan oven/200C electric oven/Gas mark 6.  Slice the skin off the chops and score with a crisscross pattern using the tip of a sharp knife.  Heat a large non-stick frying pan over a medium heat, season and colour the chops on both sides, then sear the fat to crisp it a little.  Now lightly colour the fat side of the crackling, then turn and colour the other side too.

Either halve or quarter the carrots and parsnips depending on their size and cut in half lengthwise if necessary.  Arrange the vegetables and sage leaves in a 38x25cm roasting dish.  Drizzle with the olive oil and season.  Lay the crackling ontop, rind uppermost, and roast for 20 minutes.  Stir the vegetables, leaving the crackling on top and roast for another 20 minutes.  Give the vegetables a final stir and arrange the chops on top, without cover the crackling, and roast for another 15 minutes.  Leave to rest for 5 minutes, then serve the chops, crackling and vegetables with the apple sauce spooned over.
{% endblock %}
