{% extends "_post.html" %}
{% hyde
title: Everything is possible again
created: 2009-12-31 17:11:00
%}
{% block article %}

> A few days after we came home from the hospital, I sent a letter to a friend, including a photo of my son and some first impressions of fatherhood. He responded, simply, "Everything is possible again." It was the perfect thing to write, because that was exactly how it felt. The world itself had another chance. &mdash; <cite>[Jonathan Safran Foer in Against Meat][1].  From the Food Issue of The New York Times Magazine.</cite>

[1]: http://www.nytimes.com/2009/10/11/magazine/11foer-t.html?pagewanted=all

{% endblock %}