{% extends "_post.html" %}
{% hyde
title: "Primer (2004)"
created: 2008-04-11 15:32:31
%}
{% block article %}
<ul><li>Intriguing low budget sci-fi involving time travel.</li>
<li>The time travel, paradoxes and non-linear story line leave you more than slightly confused.</li>
<li>The last twenty minutes are when you realise you might not quite have a full grasp of the story.</li>
<li>By the end you won't have understood everything but you won't feel cheated either.</li>
<li>With a desire to piece everything together you watch the film <em>twice</em> in one night.</li>
<li>It has a very similar indie style and feeling to <a href="http://us.imdb.com/title/tt0393109/">Brick</a>.</li>
<li><a href="http://www.avclub.com/content/feature/the_new_cult_canon_primer">The New Cult Canon: <em>Primer</em></a></li>
<li><strong>Time travel and Primer are mind boggling but in an enjoyable way.</strong></li>
</ul>
{% endblock %}
