{% extends "_post.html" %}
{% hyde
--- 
title: "QotD: Top 5 Video Games"
created: 2006-11-16 14:31:02
%}
{% block article %}
<blockquote>What's on your Top 5 video games list?
<span style="font-size: 0.8em">Submitted by <a href="http://mileena.vox.com/" at:user-xid="6p00c2251d21be604a" class="enclosure-inline-user">mileena</a>.</span></blockquote>
Quite a difficult one.  It's been ages since I played computer games properly but I used to play loads during the 90s.  I'm not sure this list is definitive but it must be quite close (in chronological order).
<h4><a href="http://www.geocities.com/simesgreen/ev/">Extreme Violence</a></h4>
A little known top-down shooter for the Amiga 500.  I can remember playing this when growing up and realising that it had a little something that no other game had.  It was the first game I encountered with an element of deathmatch.  Both players played on the same computer using half a screen each.  Your job was to hunt down and kill the other player while picking up different power-ups for you gun, such as bouncy bullets.  Incredibly enjoyable! Gameplay is everything.
<h4><a href="http://en.wikipedia.org/wiki/Super_Mario_Bros._3">Super Mario Bros. 3</a></h4>
A departure from the linear platform games such as the original Sonic and Super Mario Bros.  Gone were the days of leaving the console on pause all night and hoping your mother didn't turn it off before you woke up in the morning.  The new save option also allowed for a huge game world.
<h4><a href="http://en.wikipedia.org/wiki/StarCraft">Starcraft</a> and <a href="http://en.wikipedia.org/wiki/Brood_War">Brood War</a></h4>
I have probably spent more hours playing this game than any other.  I was a big fan of <a href="http://en.wikipedia.org/wiki/Dune_II">Dune II</a> and <a href="http://en.wikipedia.org/wiki/Command_%26_Conquer">C&amp;C</a> but had never experienced them in multiplayer mode.  This was my first real attempt at online gaming and one that lasted close to five years.  The game evolved into an extremely balanced RTS which could be enjoyed by players of all skill levels from novice to expert and <a href="http://en.wikipedia.org/wiki/StarCraft_professional_competition">professional</a>.  Starcraft also gets bonus points for having a great single-player storyline and lovely <a href="http://en.wikipedia.org/wiki/Full_motion_video">FMVs</a>.
<h4><a href="http://en.wikipedia.org/wiki/Quake_III_Arena">Quake III</a></h4>
Although I probably played <a href="http://en.wikipedia.org/wiki/Counter-Strike">Counterstrike</a> more during my undergrad years than Quake 3, Quake 3 must still make the list.  I had never played FPS games <em>properly</em> before q3 so then q3 came out and I needed a game to play I decided to invest some time into it.  It was mainly played at LAN events or ResNet as playing with lag was just unacceptable.  The mods were great too, including rocket arena and the OSP mod, which allowed for a more professional game.

And what do I play now? I haven't played a game <em>properly</em> for years.  Currently I'm just enjoying the odd game of <a href="http://en.wikipedia.org/wiki/Puyo_Puyo">Puyo Puyo</a>, <a href="http://en.wikipedia.org/wiki/WarioWare%2C_Inc.:_Mega_Party_Game%24">Warioware</a> and little <a href="http://en.wikipedia.org/wiki/Animal_Crossing_%28GameCube%29">Animal Crossing</a> on the Gamecube.  A far cry from the <em>serious</em> gamer.
{% endblock %}
