{% extends "_post.html" %}
{% hyde
title: Raleigh Denim
created: 2010-08-16 20:34:41
%}
{% block article %}
<iframe src="http://player.vimeo.com/video/13517107" width="600" height="338" frameborder="0"></iframe><p><a href="http://vimeo.com/13517107">Raleigh Denim: Handcrafted in North Carolina</a> from <a href="http://vimeo.com/davidhuppert">David Huppert</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

> Two North Carolina designers and entrepreneurs are on a mission to help revitalize the garment industry in NC, one pair of REALLY COOL jeans at a time. <a href="http://www.vimeo.com/13517107">Raleigh Denim: Handcrafted in North Carolina</a> (by <a href="http://vimeo.com/davidhuppert">David Huppert</a>)


{% endblock %}