{% extends "_post.html" %}
{% hyde
title: regrettable desires
created: 2008-01-08 23:36:01
%}
{% block article %}
01. ben folds - gone
02. camera obscura - i don't want to see you
03. okkervil river - get big
04. the cure - in between days
05. the who - the song's over
06. galaxie 500 - sorry
07. death cab for cutie - title and registration
08. ben folds five - smoke
09. the velvet underground - all tomorrow's parties
10. lcd soundsystem - someone great

44:54

Just another mix that I made a while back.
{% endblock %}
