{% extends "_post.html" %}
{% hyde
title: "Sunshine (2007)"
created: 2008-02-05 17:53:24
%}
{% block article %}
<ul><li>The cinematography is reminiscent of 2001: A Space Odyssey in places.</li>
<li>I really regret not seeing this during its cinema run.  The visuals and power of light would have been amazing on the big screen.</li>
<li>It would have worked well with the complete silence of space.</li>
<li>Mark Kermode has an article from The Observer on Sunshine.  <a href="http://observer.guardian.co.uk/review/story/0,,2042098,00.html">2007: a scorching new space odyssey</a>.</li>
<li><strong>Worth seeing, especially if you are a fan of 2001.</strong></li></ul>
{% endblock %}
