{% extends "_post.html" %}
{% hyde
title: Take Away Shows
created: 2008-03-10 12:24:49
%}
{% block article %}
<div style="text-align: center;"><object width="420" height="339"><param name="movie" value="http://www.dailymotion.com/swf/x449pc" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><embed src="http://www.dailymotion.com/swf/x449pc" type="application/x-shockwave-flash" width="420" height="339" allowFullScreen="true" allowScriptAccess="always"></embed></object></div>

<a href="http://www.vincentmoon.com/">Vincent Moon</a> and Chryde have been creating <a href="http://www.takeawayshows.com/">Take Away Shows</a> for <a href="http://www.blogotheque.net/">La Blogotheque</a> since April 2006.  The basic premise is you take some hip indie band and let them perform unannounced on a street, alley, mini-bus, courtyard, park, cafe etc. in Paris and let the sound evolve.

Filmed in a distinctive style of high contrast, I first came across these shows over a year ago when Arcade Fire performed <a href="http://blogotheque.net/Arcade-Fire">Neon Bible in a freight elevator</a> which I think inspired them to perform <a href="http://vids.myspace.com/index.cfm?fuseaction=vids.individual&videoid=2024167964">a similar rendition</a> for <a href="http://www.bbc.co.uk/cultureshow/">The Culture Show</a>.

Some of the best Take Away Shows come from <a href="http://blogotheque.net/Vampire-Weekend,3840">Vampire Weekend</a>, <a href="http://blogotheque.net/Beirut,3455">Beirut</a>, <a href="http://blogotheque.net/Guillemots,2592">Guillemots</a>, <a href="http://blogotheque.net/Okkervil-River">Okkervil River</a> and <a href="http://blogotheque.net/Gravenhurst,3453">Gravenhurst</a>; although there are <a herf="http://blogotheque.net/spip.php?page=cae_all&lang=en">many many more</a> worth watching.
{% endblock %}
