{% extends "_post.html" %}
{% hyde
title: TED Talks
created: 2008-01-10 22:03:56
%}
{% block article %}
<div style="text-align: center;"><img style="border:none;" src="http://www.ted.com/images/ted_logo.gif" alt="TED logo" /></div>

The <a href="http://www.ted.com">TED</a> 2008 program has been <a href="http://www.ted.com/index.php/pages/view/id/48">announced</a>.  I haven't had a chance to go through the program yet but I'm sure there will be some amazing and inspiring talks.  I'm still working my way through many of the older talks.  Here was some of the best <a href="http://www.ted.com/index.php/talks">TED talks</a> I've seen over the last few months.

<ul>
<li><a href="http://www.ted.com/index.php/talks/view/id/58">Larry Brilliant wants to stop pandemics</a></li>
<li><a href="http://www.ted.com/index.php/talks/view/id/92">Hans Rosling: Debunking third-world myths with the best stats you've ever seen</a></li>
<li><a href="http://www.ted.com/index.php/talks/view/id/170">Jeff Skoll makes movies that make change</a></li>
<li><a href="http://www.ted.com/index.php/talks/view/id/49">Joshua Prince-Ramus: Designing the Seattle Central Library</a></li>
<li><a href="http://www.ted.com/index.php/talks/view/id/84">James Nachtewy: Share a vital story with the world</a></li>
<li><a href="http://www.ted.com/index.php/talks/view/id/144">Jonathan Harris: The Web's secret stories</a></li>
</ul>

{% endblock %}
