{% extends "_post.html" %}
{% hyde
title: The Beeb and user generated content
created: 2006-11-16 16:54:44
%}
{% block article %}
<a href="http://media.guardian.co.uk/">Media Guardian</a> is reporting that the <a href="http://media.guardian.co.uk/site/story/0,,1949139,00.html">BBC is to pay for [some] viewers' pictures</a>.  The BBC have been terrible at paying for user submitted content.  One BBC editor even <a href="http://flickr.com/groups/scots/discuss/72157594242303065/">requested</a> that Flickr users give the BBC advanced permission to user their photos for the BBC Scotland news website.

The news isn't as great as the headline makes out, hence I've added <em>some</em> in brackets.

<blockquote cite="http://media.guardian.co.uk/site/story/0,,1949139,00.html">New guidelines tell BBC staff they can make payments to members of the public who send in footage from mobile phones or cameras, but "audiences should not be encouraged to think that payment is the norm".

...

"We do not want to give people the impression that we will pay for hundreds of pieces of user-generated content," said Ms Taylor. She said the only time the BBC has paid in the past for amateur footage was for video of the Concorde crash in Paris.</blockquote>

In practice I doubt we'll see much of a change in attitude from the BBC and other media outlets.  They are all wanting to cut down on their costs and see user generated content as an easy method.  I don't think people recognise the potential value of their photographs and how giving away publishing rights for free damages the photographic industry in general.  However, when it comes to articles people expect the author to be paid fully for publication.
{% endblock %}
