{% extends "_post.html" %}
{% hyde
title: The Radio 2 effect
created: 2007-10-30 17:27:30
%}
{% block article %}

<a href="http://observer.guardian.co.uk/omm/story/0,,1150805,00.html">Two the power</a> in the Observer Music Monthly Feb 2004.

<blockquote>The agile performance of the station has spawned a new industry term, <strong>"the Radio 2 effect"</strong>, that is now bandied about at every major record label marketing meeting.</blockquote>

Although not used in the context of the audience at a live show. 
{% endblock %}
