{% extends "_post.html" %}
{% hyde
title: The Second Coming of the Monkey God
created: 2006-11-17 14:28:19
%}
{% block article %}
I haven't really been following the buzz surrounding Microsoft's <a href="http://en.wikipedia.org/wiki/Zune">Zune</a> MP3 player.  But I came across a cool teaser advert for it.  This is probably the best Zune advert out of all them, well at least it appealed to me the most.

<p style="text-align: center;"><object width="445" height="364"><param name="movie" value="http://www.youtube.com/v/_8sFn3t0chw&hl=en&fs=1&rel=0&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_8sFn3t0chw&hl=en&fs=1&rel=0&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="445" height="364"></embed></object></p>

The video was done by <a href="http://www.motiontheory.com/work/microsoft-zune_two-little-birds">Motion Theory</a> and features "The Second Coming of the Monkey God" by <a href="http://www.myspace.com/ashtarcommand">Ashtar Command</a> who I had never heard of before.  Unfortunately I haven't been able to find a full version the song or any other songs by Ashtar Command (apart from those on their MySpace page).Microsoft have recently launched the Zune in the US but according to <a href="http://www.reghardware.co.uk/2006/10/31/ms_zune_uk_debut/">The Register</a> the player isn't planned to hit UK shores until late 2007 or early 2008!  This is mainly attributed to problems surrounding finding a platform or supplier for the music store element.  It seems strange that Microsoft would be willing to conceed another year's worth of sales to Apple; unless the Zune is a <a href="http://en.wikipedia.org/wiki/Loss_leader">loss leader</a> and Microsoft are counting on music store sales.

I would have thought that the iPod and Zune main attraction is as a music player and then the music store compatibility is an added bonus.  I wonder how many people with iPods are actually using the iTMS regularly instead of buying CDs or downloading the music illegally?  I know I've only <em>bought</em> two tracks from the music store and they were purchased using free song voucher codes from Coke bottles.
{% endblock %}
