{% extends "_post.html" %}
{% hyde
title: "Triptych 2008 at Tramway, Glasgow"
created: 2008-05-04 14:08:33
%}
{% block article %}
Last weekend saw the final <a href="http://www.triptychfestival.com/">Triptych</a> music festival take place in Edinburgh, Glasgow and Aberdeen; incidentally this was my first Triptych experience.  The <a href="http://www.last.fm/event/542143">Tramway gig</a> was one of the largest events featuring Mogwai headlining with support from Clinic, Dirty Projectors, Malcolm Middleton, Errors, Frightened Rabbit, Magik Markers, Correcto and RememberRemember.

Despite the fact that we saw <a href="http://www.myspace.com/frightenedrabbit">Frightened Rabbit</a> on the Thursday at <a href="http://www.thegrv.com/">The GRV</a>, they were still amazing at Triptych and even more so at their after show party.  It was probably the biggest crowd Frightened Rabbit had played and they were more than capable of rising to the occasion.  When midway through their set Andy's amp blew they played, the much requested (at least by me!), <em>Behave!</em> from their first album.  The after show party included Frightened Rabbit playing <a href="http://www.myspace.com/shitdisco">SHITDISCO's</a> <em>I Know Kung Fu</em>, Mark Devine from <a href="http://www.myspace.com/thetwilightsad">The Twilight Sad</a> playing drums on <em>Be Less Rude</em> and <em>My Backwards Walk</em> with plenty of <a href="http://www.myspace.com/thenational">The National's</a> <em>Fake Empire</em>.

<br />
<div style="text-align: center;"><img style="border:none;" src="/media/images/5478834x-300x300.jpg" alt="Album Cover" title="Errors - It\&#039;s Not Something But It Is Like Whatever" width="300" height="300" class="alignnone size-medium wp-image-300" /></div>

One of the surprises of the night were <a href="http://www.myspace.com/weareerrors">Errors</a> who have their debut album out next month.  Throughout their set of blending electronica with guitars we moved closer and closer to stage until we were near the front.

The sound setup all night at the Tramway was excellent from my point of view and was especially evident when <a href="http://www.myspace.com/mogwai">Mogwai</a> played.  A few years back I had been underwhelmed by Mogwai's performance at The Usher Hall in Edinburgh.  This time however, it was awesome; they built up to the loudness and at no time was it overpowering.

This was probably the best (and longest) day and night of music I have ever experienced.
{% endblock %}
