{% extends "_post.html" %}
{% hyde
title: Twitter activism
created: 2010-10-10 19:32:32
%}
{% block article %}

<blockquote><p>"Mark Pfeifle, a former national-security adviser, later wrote, calling for Twitter to be nominated for the Nobel Peace Prize. Where activists were once defined by their causes, they are now defined by their tools." &mdash; <cite>Malcolm Gladwell, <a href="http://www.newyorker.com/reporting/2010/10/04/101004fa_fact_gladwell">Twitter, Facebook, and social activism: The New Yorker</a></cite>.</p></blockquote>

{% endblock %}