{% extends "_post.html" %}
{% hyde
title: Vanilla Sky and Bedtime Music
created: 2006-11-20 16:07:52
%}
{% block article %}
Watched <a href="http://us.imdb.com/title/tt0259711/">Vanilla Sky</a> last night from an old <a href="http://www.humaxdigital.com/uk/products/pvr-9200t.asp">recording</a> off Film4.  I had seen it once before but never realised that <a href="http://en.wikipedia.org/wiki/Sigur_Ros">Sigur Ros</a> is used so often throughout.  In fact the whole soundtrack is great.  Rotten Tomatoes has a <a href="http://www.rottentomatoes.com/vine/showthread.php?t=443847">full list of songs in chronological order</a>.

Following the movie we revived the tradition of listening to lovely music before bed with Sigur Ros' <a href="http://www.amazon.co.uk/Agaetis-Byrjun-Sigur-Ros/dp/B00004W3MS/">Agaetis Byrjun</a>.  This is the first time I've listened to the album since we saw them live last year; it always reminds me how great Sigur Ros were live.  Other bedtime music includes: Pink Floyd's <a href="http://www.amazon.co.uk/Wish-Were-Here-Pink-Floyd/dp/B000024D4S/">Wish You Were Here</a>, Jeff Buckley's <a href="http://www.amazon.co.uk/Grace-New-Version-Jeff-Buckley/dp/B0002VJT4U/">Grace</a> and Mogwai's <a href="http://www.amazon.co.uk/Come-Die-Young-Mogwai/dp/B0000255KS/">Come on Die Young</a>.
{% endblock %}
