{% extends "_post.html" %}
{% hyde
title: Replacement Graphics Card (VGA) fan
created: 2003-01-07 19:45:04
%}
{% block article %}

<h3>Information on replacing the fan on an ASUS V7700 Geforce 2 GTS</h3>

My computer has hard locked several over the week and even, on the odd occasion, refused to POST. I put this down to my graphics card (ASUS V7700 GF2 GTS) overheating, since the fan has been making some very unhealthy noises in the past few weeks.

While Googling about replacement fans, I discovered that ASUS aren't rated very high when it comes to their fans and that getting them to replace a fan is not the best choice, since it is likely to break again. You can however buy third party replacement fans such as<a href="http://www.thermaltake.com" title="Thermaltake"> Thermaltake's</a> <a href="http://www.thermaltake.com/products/chipset/crystalOrb.htm" title="Crystal Orb">Crystal Orb</a>. I managed to get one from<a href="http://www.extremecooling.co.uk" title="Extreme Cooling"> Extreme Cooling</a>. It was easy to fit and is only slightly noisier than the standard ASUS fan.

{% endblock %}
