{% extends "_post.html" %}
{% hyde
title: Visual Acoustics
created: 2010-08-08 20:36:31
%}
{% block article %}
<object width="480" height="295"><param name="movie" value="http://www.youtube.com/v/DUQErQtVI04&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/DUQErQtVI04&fs=1" type="application/x-shockwave-flash" width="480" height="295" allowscriptaccess="always" allowfullscreen="true"></embed></object>

{% endblock %}