{% extends "_post.html" %}
{% hyde
title: Walled gardens
created: 2008-07-17 23:11:41
%}
{% block article %}
> Because in the end, that's the Internet that we all want to be part of. As a society we rejected "walled gardens" like AOL, Compuserve, and MSN in the early 90s in favor of the distributed, open nature of the World Wide Web. And I think that the new walled gardens like Facebook and Google, need to be replaced with open protocols and standards. Will Open Network Services be the basis of "Web 3.0", the next stage of Web culture? I truly think so, but that's still an open question.

<a href="http://evan.prodromou.name/Journal/14_Messidor_CCXVI">Journal/14 Messidor CCXVI from Evan Prodromou</a>
{% endblock %}
