{% extends "_post.html" %}
{% hyde
title: Water Issues
created: 2010-04-05
%}
{% block article %}

[Melting glaciers hit Tajik lives - Channel 4 News][tajik]:
> In "Tajikistan, where temperatures have risen and glaciers are melting - causing floods, pollution, disease and landslides." All this is also causing political unrest between Tajikistan and Uzbekistan.

[Is this the end of cheap food? - The Observer][cheap]:
> "We may look back at the second half of the last century as an era of cheap food. It'll be like the Hundred Years' War, as we were taught it in school: a seminal moment in human history that's gone and will not return."

[Cyprus conflict closes leaders' eyes to water shortage - From Our Own Correspondent][cyprus].

[Peak Water: Aquifers and Rivers Are Running Dry. How Three Regions Are Coping][peak]:
> Reducing water consumption is only half the story. Gary Woodard, at the Sahra Center, talks about the "water-energy nexus": "the idea that it takes water to produce energy, and energy to take advantage of water. That is, supplies of water and power are interdependent".

[How food and water are driving a 21st-century African land grab | The Observer][africa]:
> "Ethiopia is only one of 20 or more African countries where land is being bought or leased for intensive agriculture on an immense scale in what may be the greatest change of ownership since the colonial era. ... It is not known if the acquisitions will improve or worsen food security in Africa, or if they will stimulate separatist conflicts, but a major World Bank report due to be published this month is expected to warn of both the potential benefits and the immense dangers they represent to people and nature."

Collected at [t:water][tagwater].

[cyprus]: http://news.bbc.co.uk/2/hi/programmes/from_our_own_correspondent/8560424.stm
[tajik]: http://www.channel4.com/news/articles/society/environment/melting+glaciers+hit+tajik+lives/548167
[cheap]: http://observer.guardian.co.uk/focus/story/0,,2243786,00.html
[peak]: http://www.wired.com/science/planetearth/magazine/16-05/ff_peakwater?currentPage=all
[africa]: http://www.guardian.co.uk/environment/2010/mar/07/food-water-africa-land-grab
[tagwater]: http://pinboard.in/u:james/t:water/

{% endblock %}