{% extends "_post.html" %}
{% hyde
title: WORDS
created: 2010-08-28 8:32:03
%}
{% block article %}
<iframe src="http://player.vimeo.com/video/13768695?title=0&amp;portrait=0&amp;color=ffffff" width="601" height="338" frameborder="0"></iframe><p><a href="http://vimeo.com/13768695">WORDS</a> from <a href="http://vimeo.com/everynone">Everynone</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

This video accompanies a [fascinating RadioLab episode about language and thought][1]. I was a little surprised that there was no mention of Steven Pinker. 

> It's almost impossible to imagine a world without words. But in this hour of Radiolab, we try to do just that. We speak to a woman who taught a 27-year-old man the first words of his life, and we hear a firsthand account of what it feels like to have the language center of your brain wiped out by a stroke.

[1]: http://www.wnyc.org/shows/radiolab/episodes/2010/09/1

{% endblock %}